In [185]:
# Importing libraries
import pandas as pd 
import numpy as np
import os
from os.path import join

In [186]:
# Checking path
PREPARED_DATA_PATH = "../Prepared Data"

path = os.getcwd()

path =  '/Users/kevinmcgreen/Documents/InstacartProject/Scripts'

In [187]:
# import data
df_orders_products_combined = pd.read_pickle("Prepared Data/orders_products_combined.pkl")

In [188]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,-1.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,-1.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,-1.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,-1.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,-1.0,26405,5,0,both

In [189]:
# check for shape
df_orders_products_combined.shape

(32434489, 12)

In [190]:
# import products wrangled clean 
df_products_wrangled = pd.read_csv("Prepared Data/products_wrangled.csv")

df_products_checked = pd.read_csv("Prepared Data/products_checked.csv")

products = pd.read_csv("Prepared Data/products_checked.csv")

In [191]:
# check output
df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [192]:
# check output
df_products_wrangled.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## merging data frames

In [193]:
# checking for full match
df_merge = pd.merge (df_orders_products_combined, products, on = 'product_id')

In [194]:
df_merge

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,-1.0,196,1,0,both,195,Soda,77,7,9.0
1,0,2539329,1,prior,1,2,8,-1.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,0,2539329,1,prior,1,2,8,-1.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
3,0,2539329,1,prior,1,2,8,-1.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
4,0,2539329,1,prior,1,2,8,-1.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both,14197,Tomato Paste,9,9,5.6
32434208,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both,38734,Brownie Crunch High Protein Bar,3,19,5.9
32434209,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both,31479,High Protein Bar Chunky Peanut Butter,3,19,4.2
32434210,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both,6567,Chocolate Peanut Butter Protein Bar,3,19,4.9
32434211,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both,22921,Roasted & Salted Shelled Pistachios,117,19,1.7

In [195]:
# checking fo match counts
df_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [196]:
df_merged = df_orders_products_combined.merge(products, on = 'product_id')

## Exporting files

In [197]:
# export data to pickle
prepared_data_path = os.path.join(path, "Prepared Data")
os.makedirs(prepared_data_path, exist_ok=True)

df_merged.to_pickle(os.path.join(prepared_data_path, "orders_products_merged.pkl"))

In [198]:
path = os.getcwd()

In [199]:
df_merged = "orders_products_merged"